html, body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c5c5c;
}

body {
    background-image: url('/assets/subtle_grunge.png');
    background-image: url('/assets/grey.png');
    font-size: 1em;
    line-height: 1.6em;
}

div.highlight {
    background: transparent;
}
div.highlight pre {
    border: none;
    background: transparent;
    padding: 1em;
    border: 1px dashed silver;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.post > div.title {
    font-size: 1.5em;
    line-height: 1.1em;
}
div.post > div.date {
    margin-top: 0.3em;
}

div.post {
    margin-top: 2em;
}

div.post img.use-left {
    float: left;
    margin: 0 1em 1em 0;
}

div.post img.use-right {
    float: right;
    margin: 0 0 1em 1em;
}

div.post img.inside-text {
    margin-top: 1em;
}

div.post p.update {
    color: black;
    border: 1px dashed silver;
    padding: 1em;
}

div.footer {
    text-align: center;
    padding: 1em;
    margin-top: 3em;
}

div.grid.main {
    max-width: 940px;
    margin: 0 auto;
}

aside.sidebar {
    padding-left: 1em;
    margin-top: 6em;
}

aside.sidebar ul {
    margin: 0;
    padding: 0;
}

aside.sidebar ul.links  {
    list-style-type: none;
    margin-left: 0;
    font-weight: normal;
}
aside.sidebar ul.links.month  {
    margin-left: 0.5em;
}

aside.sidebar ul.year > li {
    font-weight: bold;
}

div#disqus_thread {
    margin-top: 2em;
}

div.post > div.date {
    font-weight: bold;
}

div.title {
    font-weight: bold;
}

div.post > div.content {
    padding-top: 1em;
}

.clearfix {
    clear: both;
}

div.pagination {
    text-align: center;
}
div.header {
    margin-bottom: 2em;
}

div.post iframe {
    border: none;
    width: 100%;
    min-width: 320px;
    max-width: 710px;
    min-height: 320px;
}

div.post img {
    max-width: 100%;
}

div.post img.img-polaroid {
    max-width: 98%;
}

code {
    white-space: pre-wrap;
}