<!-- sidebar -->
<h5>About me</h5>
<ul class="links">
    <li style="margin-left: -5px"><img src="http://orestescarracedo.com/favicon.ico" alt=""/> <a href="http://orestescarracedo.com">My homepage</a></li>
    <li><i class="icon-rss"></i> <a href="{{ feed_url }}">Subscribe</a></li>
</ul>

<h5>Social</h5>
<ul class="links">
    <li><i class="icon-twitter"></i> <a href="http://twitter.com/OrestesCA">Twitter</a></li>
    <li><i class="icon-github"></i> <a href="https://github.com/orestes">GitHub</a></li>
    <li><i class="icon-google-plus"></i> <a href="https://plus.google.com/u/0/101089646875098775879/posts">Google +</a></li>
    <li><i class="icon-linkedin"></i> <a href="http://www.linkedin.com/profile/view?id=117929842">LinkedIn</a></li>
</ul>

<h5>Archive</h5>
<ul class="year">
    {% for year in site.year_index %}
    <li class="title">{{ year }}</li>
    <li>
        <ul class="month">
            {% for month in site.month_index[year] %}
            <li>({{ site.post_count[year][month] }}) <a href="/archive/{{ year }}/{{ month }}/">{{ month | month_name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<!-- /sidebar -->