---
layout: default
---
<div class="col_2"></div>
<div class="col_8">
    <h2 class="header"><a href="/">{{ site.title }}</a></h2>
    <div class="post">
        <div class="title">{{ page.title }} </div>
        <div class="date">{{ page.date | date_to_long_string  }}</div>
        {{ content }}
    </div>
    <div id="disqus_thread"></div>
</div>
<div class="col_2"></div>

<script type="text/javascript">
    var disqus_shortname = 'orestes';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
